/* Variables */

$font-header: "Dancing Script", sans-serif;
$font-text: "Roboto Slab", sans-serif;
$color-one: #f1c40f;
$color-two: #ffffff;
$color-three: #f0f0f0;

body {
    font-family: $font-text;
    text-align: center;
    margin: 0;
}

/* Navigation */

.navigation p {
    color: $color-one;
    font-family: $font-header;
    font-size: 30px;
}

.navigation li {
    display: inline;
}

.navigation a {
    text-decoration: none;
    color: $color-two;
    margin-right: 10px 10px;
}

/* Splash */

.splash {
    height: 80vh;
    background-image: url("https://images.pexels.com/photos/1447252/pexels-photo-1447252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
}

.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 70%;
    color: $color-two;
}
.page-title {
    font-size: 50px;
}

.page-subtitle {
    font-size: 35px;
    font-family: $font-header;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-one;
    color: $color-two;
}

/* Services */

i {
    font-size: 50px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-one;
    border-radius: 50%;
    background-color: $color-two;
}

.section-title {
    font-size: 48px;
    padding-top: 50px;
    font-weight: bold;
}

.section-subtitle {
    font-style: italic;
    padding-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.box-services {
    padding: 20px 20px 50px;
}

.box-title {
    font-weight: bold;
    font-size: larger;
    padding: 10px 0;
}

/* Portfolio */

.portfolio {
    background-color: $color-three;
}

.box-portfolio {
    min-height: 200px;
    position: relative;
    margin-bottom: 30px;
}

.portfolio-tile {
}

.portfolio-tile img {
    width: 70%;
    height: 90%;
    object-fit: cover;
}

/* footer */

.footer {
    margin: 20px;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer li {
    display: inline-block;
    font-size: 0;
}

.footer i {
    color: $color-one;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
}
